target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/maven-archiver/
target/*.original
target/*
.mvn/
mvnw
mvnw.cmd
.git
.gitignore
*.md
.idea
*.iml
.vscode
*.log
.DS_Store
Dockerfile
.dockerignore
